
.header {
  margin-bottom: 5rem;
  width: 100%;

  .container {
    padding-bottom: 5rem;
  }

  .title {
    text-align: center;
    font-style: oblique;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    margin-top: 6rem;
  }

  .banner {
    position: absolute;
  }
}

.item {
  border-bottom: 1px solid gray;
  margin-bottom: 3rem;

  h2.reserved {
    text-decoration: line-through;
  }

  .content {
    padding-left: 1rem;
  }

  p.reserved {
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
    color: darkred;
  }
}

$color-primary: #FF8300;
$color-secondary: #0084B2;

@import "milligram";


h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

body {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2em;
}

.result-area {
  min-height: 10rem;
}
