<div class="header">
  <div id="tutorial" class="container">
    <h1 class="title">Créez votre wishlist</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <form {{on "submit" this.generateLink}}>
        <fieldset>
          <label for="api-token">API Token</label>
          <Textarea type="text" @value={{this.apiToken}} id="api-token" />

          <label for="wishlist-id">Wishlist ID</label>
          <Textarea type="text" @value={{this.wishlistId}} id="wishlist-id" />
        </fieldset>
        <button type="submit" >Générer</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="column">
      <label for="result-area">Lien vers la wishlist</label>
      <textarea class="result-area" id="result-area">{{this.link}}</textarea>
    </div>
  </div>
</div>