<div class="header">
  <div class="container">
    <div class="row">
      <div class="column">
        <img class="banner" src="{{this.model.bannerUrl}}" alt="" />
        <h1 class="title">
          {{ this.model.title }}
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {{#each this.model.items as |item| }}
    <div class="item row">
      <div class="column column-25">
        {{#if item.image}}
          <img src={{item.image}} alt={{item.title}}>
        {{/if}}
      </div>
      <div class="column">
        <h2 class={{if item.reserved ' reserved'}}>{{item.title}}</h2>
        {{#if item.link}}
          <a href={{item.link}}>Voir le site web</a>
        {{/if}}
        {{#if item.description}}
          <p>{{item.description}}</p>
        {{/if}}
        {{#if item.price }}
          <p>env. {{item.price}}€</p>
        {{/if}}
        {{#if item.reserved}}
          <p class="reserved">Réservé</p>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

{{outlet}}